<div class="form-group" [formGroup]="form" >
  <div *ngFor="let input of controlDataItems" class="form-row">

    <label [attr.for]="input.controlName">{{input.controlName}}</label>
    <div  [ngSwitch]="input.controlType" >

      <app-textbox-component *ngSwitchCase="'text'" #control [controlData] ="input"  (sendMessage)="sendMessageToControls($event)" ></app-textbox-component>


      <app-dropdown-component #control  *ngSwitchCase="'select'" [controlData] ="input" (sendMessage)="sendMessageToControls($event)"></app-dropdown-component>


      <app-radio-component *ngSwitchCase="'radio'" #control [controlData] ="input" (sendMessage)="sendMessageToControls($event)"></app-radio-component>


    </div>
  </div>

  <button type="submit" [disabled]="form.invalid" (click)="submitForm()">
    Submit
  </button>
</div>


